<%= form_for @company do |f| %>
  <p>
    <%= f.label :"Nome Fantasia" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :"Razão Social" %><br>
    <%= f.text_field :legal_name %>
  </p>
  <p>
    <%= f.label :"CEP" %><br>
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :"Endereço" %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :"Telefone" %><br>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :"Tipo" %><br>
    <%= f.text_field :company_type %>
  </p>
 
  <p>
    <%= f.submit "Enviar" %>
  </p>
<% end %>